
<h1>作品一覧</h1>

    <% @microposts.each do |micropost| %>
    <div class="box1">
      <p><%= micropost.content %></p>
      <p>作者 <%= link_to micropost.user.name, micropost.user %></p>
    </div>

<% end %>
