
body {
  padding-top: 90px;
  background:#DDDDDD;
	font-weight: bold;
}

.red:before {
    color:#FF0000;
}

.gray{
  color:#AAAAAA;
}
.media-list{
  margin:20px;
}

.serchbox {
  padding-bottom: 30px;
}
footer{
  background-color: black;
}
