@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background:#946243;
	font-weight: bold;
	color:#fff;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
