@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 90px;
  background:#DDDDDD;
	font-weight: bold;
}

.red {
    color:#FF0000;
}

.gray{
  color:#AAAAAA;
}
.media-list{
  margin:20px;
}

